<div>
  <section class="flex flex-col bg-gray-100 rounded-2xl px-5 pt-5 pb-10">
      <h1>关注我</h1>
      <div class="flex flex-wrap space-x-2">
        {{ if .Site.Params.github }}
        <a href="{{ .Site.Params.github }}"><div class="flex p-4 bg-gray-300 items-center rounded-2xl"><i class="fa fa-github text-gray-800"></i></div></a>
        {{end}}
        {{ if .Site.Params.youtube }}
        <a href="{{ .Site.Params.youtube }}"><div class="flex p-4 bg-gray-300 items-center rounded-2xl"><i class="fa fa-youtube text-red-700"></i></div></a>
        {{end}}
        {{ if .Site.Params.bilibili }}
        <a href="{{ .Site.Params.bilibili }}"><div class="flex p-4 bg-gray-300 items-center rounded-2xl"><i class="fa fa-slack text-yellow-600">B站</i></div></a>
        {{end}}
        {{ if .Site.Params.slack }}
        <a href="{{ .Site.Params.slack }}"><div class="flex p-4 bg-gray-300 items-center rounded-2xl"><i class="fa fa-slack text-yellow-600">Slack</i></div></a>
        {{end}}
      </div>
  </section>
  <section class="flex flex-col bg-gray-100 rounded-2xl p-5 mt-5">
    <h1>联系我</h1>
    <span>
      <li>QQ:283796665</li>
      <li>微信:kangshaojun888</li>
    </span>
  </section>
  <section class="flex flex-col bg-gray-100 rounded-2xl p-5 mt-5">
    <h1>个人简介</h1>
    <span>
      资深开发者，创业者。专注于视频通讯技术领域。国内首本Flutter著作《Flutter技术入门与实战》作者,另著有《Dart语言实战》及《WebRTC音视频开发》等书籍。多年从事视频会议、远程教育等技术研发，对于Android、iOS以及跨平台开发技术有比较深入的研究和应用，作为主要程序员开发了多个应用项目，涉及医疗、交通、银行等领域。
    </span>
  </section>
</div>
